body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative;
}

canvas {
    background-color: black;
    margin-top: 20px;
}

.message {
    position: absolute;
    top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.side-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    height: 350px;
    opacity: 0.8;
}

.left {
    left: 75px;
}

.right {
    right: 60px;
}

.button-container {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

#pressButton {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#pressButton:hover {
    background-color: darkred;
}
